
<div class="jumbotron" style="height: 100%;">
  <div class="pb-2 mt-4 mb-2 border-bottom" style="margin-left: 20px; width: 50%">
    <h2>Add to Your Wishlist</h2>
  </div>

  <%= form_for [@wishlist, @product] do |f| %>
    <%= f.text_field :url, placeholder: 'wishlist item here', html: { css: 'input-field' } %>
    <%= f.submit 'add to list', class: 'btn btn-primary' %>
  <% end %>

</div>

